/**
 * @file
 *   Provide styling for folder lists.
 */
.git-repo-nav {
  width: 100%;
  margin-top: 2em;
}

.git-repo-nav .commit-links {
  position: absolute;
  right: 2em;
}

.git-repo-nav div {
  display: inline;
  padding: 1em 0 1em 0;
}

.git-repo-nav .commit-links .next-commit-link {
  padding-left: 1em;
}

.git-repo-nav .repo-branches-form {
  float: left;
  margin-top: 2em;
}

.git-repo-nav .folder-links {
  position: absolute;
  left: 3em;
}
.git-repo-nav .input-format-token-form {
  float: left;
}

.git-repo-nav #center form {
  margin-bottom: 1em;
}

.git-repo-browser-content img {
  background: gray;
  padding: 0.5em;
  display: float;
  float: left;
}
.git-repo-browser-content .git-repo-image-wrapper {
  padding: 0.5em;
  border: 1px solid black;
  background: white;
  display: float;
  float: left;
}

